<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <link rel="stylesheet" href="styles.css">

    <title>Document</title>
</head>
<body>
    <div class="wrapper">
     
  
      <main>
        <div class="content" style="background-image: url('/images/sunny-1.jpg');">
            <div class="content__left">
                <div class="info">
                    <h1 class="info__text--temp">16 &#176;</h1>
                    <div class="info__text">
                        <p class="info__text--city">London </p>
                        <p class="info__text--date">06.09-Monday, 9 Sep '19 </p>

                    </div>
                    <div class="info__icon">
                        <p class="info__text--icon"><ion-icon name="rainy-outline" ></ion-icon> </p>
                        <p class="info__text--icon__text">Cloudy </p>
                    </div>
                    
                </div>
            </div>
            <div class="content__right">
                
            </div>
        </div>
      </main>
      
    </div><!--.wrapper-->
  </body>
</html>